/* 
https://neumorphism.io/#1565C0
https://material.io/design/color/the-color-system.html#tools-for-picking-colors
*/

html {
    scroll-behavior: smooth;
}


/* For nav bar from homepage */

.navbar-fixed-top.scrolled {
    background-color: #004D40 !important;
    opacity: 0.9;
    transition: background-color 2000ms linear;
}

.site-header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}

/*
    /* * ! use if video not supported */
/* @media (pointer: coarse) and (hover: none) { */
    /* header { */
        /* background: url('videos/excimer_720.png') black no-repeat center center scroll; */
    /* } */

    /* header video { */
        /* display: none; */
    /* } */
/* } */


/* ************************* */

/* For site-nav.html in single.html */

.site-nav-header {
    /* position: relative; */
    /* height: 30vh; */
    /* min-height: 260px; */
    width: 100%;
    overflow: visible ;
    /* background-color: #1E88E5; */
    /* background-color: transparent; */

}

header .featured-image {
    background-color: #1E88E5;
    margin-top: 75px;
    opacity: 0.85;
}

.site-nav {
    background-color:#1976D2;
}

.navbar-fixed-top-post.scrolled {
    background-color: #1565C0;
    /* opacity: 0.8; */
    transition: background-color 2000ms linear;
}

/* ******************* */

/* css from site-special on index.html */

.site-special {
    background-color: #26A69A;
    font-family: Maven Pro, sans-serif;
    /* width: 100%; */
    min-height: 80vh;
}

.img-offer {
    border-radius: 10px;
}

.h4-offer-green {
    border-radius: 10px;
    background: #26A69A;
    box-shadow:  14px 14px 28px #1e8178, 
             -14px -14px 28px #2ecbbc;
}

.neo-offer-green {
    border-radius: 20px;
    background: #26A69A;
    box-shadow:  14px 14px 28px #1e8178, 
             -14px -14px 28px #2ecbbc;
}

/* **************** */

/* contact section */

.contact-home {
    background-color:#00796B;
}

.contact {
    background-color:#1565C0;
}

.neo-info-home {
    border-radius: 20px;
    background: #00796B;
    box-shadow:  20px 20px 60px #00574d, 
             -20px -20px 60px #009b89;
}

.neo-info {
    border-radius: 20px;
    background: #1565C0;
    box-shadow:  14px 14px 28px #104f96, 
             -14px -14px 28px #1a7bea;
}

/* **************** */

/* footer section */

.site-footer {
    background-color: #0D47A1;
}

.site-footer-home {
    background-color: #004D40;
}

/* **************** */

/* social section */

.layout-social .layout-icon {
    font-size: 2em;
}

/* **************** */

/* css single.html */

.postContainer {
    padding-top: 30px;
    background-color:#1E88E5;
    min-height: 75vh;
    width: 100%;
    fill: currentColor;
}

.postContainer svg {
    color: white;
}

.postContainer img {
    background-color: white;
    width: 75px;
    height: 75px;
}

.svg-section-home-1 {
    background-color:#26A69A;
}

.svg-section-home-2 {
    background-color:#4DB6AC;
}

.svg-section {
    fill:#1565C0;
    background-color: #1E88E5;
}
/* ******************************** */

.site-highlights {
    background-color:#4DB6AC;
    min-height: 40vh;
}

#highlightsCarousel .carousel-caption {
    background-color: darkgray;
    opacity: 0.8;
}