{{ define "main" }}
<section class="container-fluid listContainer pb-5">
  <div class="row justify-content-center text-light">
    <p>{{i18n "taxonomyPageList" .}}</p>
  </div>
  <div class="row justify-content-center text-light">
    <div class="col-lg-6 col-md-8 col-sm-8">
      <h3>{{- .Content -}}</h3>
    </div>
  </div>
  {{- template "_internal/pagination.html" . -}}
  <div class="row justify-content-center  text-light">
      {{ range .Paginator.Pages }}
      <div class="d-flex justify-content-center col-lg-3 col-md-6 col-sm-12 mt-5">
          <div class="card profile-card-2" style="">
              {{if .Params.images }}<img class="img-fluid card-img-top" src="{{ index .Params.images 0 }}" alt="Image cap" />{{ end }}
              <div class="card-body">
                  {{if .Params.author_pic }}<img class="profile" src="{{ .Params.author_pic }}" alt="{{ .Params.author }}" class="profile"/>{{ end }}
                  <h4 class="card-title mt-5">{{ .Title }}</h4>
                  <p class="card-text mt-2">{{ plainify .Summary  -}}</p>
              </div>
              <div class="card-footer" style="border: none;">
                  <a href="{{ .Permalink }}" class="btn btn-primary" role="button" aria-pressed="true">{{- T "readMore" -}}</a>
              </div>
          </div>
      </div>
      {{ end }}
</section>
<div class="svg-section-list">
    <svg width="100%" height="100" viewBox="0 0 100 99" preserveAspectRatio="none">
        <path d="M0 0 L50 90 L100 0 V100 H0" fill="#1565C0" />
    </svg>
</div>
{{ end }}
