<!-- JS scripts -->
<!-- Bootstrap CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- end Bootstrap CDN -->

{{ range .Site.Params.local_js }} 
    <script src="{{ relURL (.) }}"></script>
{{ end }}
{{ range .Site.Params.ext_js }} 
    <script src="{{ . }}"></script>
{{ end }}

<script type="text/javascript">
    AOS.init();
    Modernizr.on('webp', function(result) {
            var root = document.documentElement;
            if (result) {
                // supported
                root.classList.add('webp');
            } else {
                // not-supported
                root.classList.add('no-webp');
            }
    });

    $(function () {
        $(document).scroll(function () {
            var $nav = $(".navbar-fixed-top");
            var $navPost = $(".navbar-fixed-top-post");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            $navPost.toggleClass('scrolled', $(this).scrollTop() > $navPost.height());
        });
    });
    $(window).on('load',function(){
        $('#infoModal').modal('show');
    });

    // word-carousel
    const wr = document.querySelector(".word-rotate");

    const words = wr.children;

    let x = 0;
    rotate(x);

    setInterval(() => {
    x = ++x % words.length;
    rotate(x);
    }, 1000);

    function rotate(start) {
    for (let i = 0; i < words.length; ++i) {
        const j = (start + i) % words.length;
        let percent = j / words.length;
        let rad = percent * 2 * Math.PI;
        let ty = Math.sin(rad) * 200;
        let tz = 40 * Math.cos(rad) - 40;
        let op = (Math.cos(rad) + 1) / 2;
        words[
        i
        ].style.transform = `perspective(100px) translateZ(${tz}px) translateY(${ty}%)`;
        words[i].style.opacity = `${op}`;
        }
    }

</script>
<!-- end JS script -->