<!-- JS scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<!-- Bootstrap CDN -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!-- end Bootstrap CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js" integrity="sha512-yAr4fN9WZH6hESbOwoFZGtSgOP+LSZbs/JeoDr02pOX4yUFfI++qC9YwIQXIGffhnzliykJtdWTV/v3PxSz8aw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ range .Site.Params.local_js }} 
    <script src="{{ relURL (.) }}"></script>
{{ end }}
{{ range .Site.Params.ext_js }} 
    <script src="{{ . }}"></script>
{{ end }}

{{ if .IsHome }}
<script>
// row 1
    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-doctor'), // required
       path: '/svg/lottie/doctor_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "Doctor icon", // optional
    });

    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-lab'), // required
       path: '/svg/lottie/lab_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "Lab icon", // optional
    });

    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-pcr'), // required
       path: '/svg/lottie/pcr_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "PCR icon", // optional
    });

// row 2
    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-kine'), // required
       path: '/svg/lottie/kine_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "Kine icon", // optional
    });

    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-chiro'), // required
       path: '/svg/lottie/chiro_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "Chiropraxy icon", // optional
    });

    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-podo'), // required
       path: '/svg/lottie/podiatry_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "Podiatry icon", // optional
    });

// row 3
    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-psy'), // required
       path: '/svg/lottie/psy_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "Mental health icon", // optional
    });

    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-acu'), // required
       path: '/svg/lottie/acupuncture_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "Acupuncture icon", // optional
    });

    var animation = bodymovin.loadAnimation({
       // animationData: { /* ... */ },
       container: document.getElementById('icon-well'), // required
       path: '/svg/lottie/well_lottie.json', // required
       renderer: 'svg', // required
       loop: true, // optional
       autoplay: true, // optional
       name: "Wellbeing icon", // optional
    });



</script>



{{ end }}

<script type="text/javascript">
    AOS.init();
    Modernizr.on('webp', function(result) {
            var root = document.documentElement;
            if (result) {
                // supported
                root.classList.add('webp');
            } else {
                // not-supported
                root.classList.add('no-webp');
            }
    });

    $(function () {
        $(document).scroll(function () {
            var $nav = $(".navbar-fixed-top");
            var $navPost = $(".navbar-fixed-top-post");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            $navPost.toggleClass('scrolled', $(this).scrollTop() > $navPost.height());
        });
    });
    $(window).on('load',function(){
        $('#infoModal').modal('show');
    });

    // word-carousel
    const wr = document.querySelector(".word-rotate");

    const words = wr.children;

    let x = 0;
    rotate(x);

    setInterval(() => {
    x = ++x % words.length;
    rotate(x);
    }, 1000);

    function rotate(start) {
    for (let i = 0; i < words.length; ++i) {
        const j = (start + i) % words.length;
        let percent = j / words.length;
        let rad = percent * 2 * Math.PI;
        let ty = Math.sin(rad) * 200;
        let tz = 40 * Math.cos(rad) - 40;
        let op = (Math.cos(rad) + 1) / 2;
        words[
        i
        ].style.transform = `perspective(100px) translateZ(${tz}px) translateY(${ty}%)`;
        words[i].style.opacity = `${op}`;
        }
    }

</script>
<!-- end JS script -->