<section id="contact" class=" {{ .Scratch.Get "contactClass" }} container-fluid pb-3 text-center text-white" style="font-family: 'Maven Pro', sans-serif;">
    <div class="justify-content-center row">
        <div class="col-8 col-md-3 col-sm-6 me-3 mt-4">
            <h3>{{- T "Contactez-nous" -}}</h3>
        </div>
    </div>
    <div class="justify-content-center mt-3 row">
        <div class="col-lg-4 col-md-4 col-sm-8 mb-4 ms-5 me-5 mt-2 {{ .Scratch.Get "neoClass" }}">
            <h5 class="mt-4"><i class="fa-phone-square-alt fas pe-3"></i><b>{{- T "parTelephone" -}}</b></h5>
            <p>{{- T "secretariatOuvert" -}}</p>
            <address>
                <a href="tel:+3226750035"><i class="fas fa-mobile-alt pe-1"></i>{{ .Scratch.Get "phoneContact" }}</a><br>
            </address>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 mb-4 ms-5 me-5 mt-2 {{ .Scratch.Get "neoClass" }}">
            <h5 class="mt-4"><i class="fa-envelope fas pe-3"></i><b>{{- T "parEmail" -}}</b></h5>
            <address>
                <span class="text-capitalize">{{- T "general" -}}</span>: <a href="mailto:info@mymedical.be">info@mymedical.be</a><br>
                <span class="text-capitalize">{{- T "rh" -}}</span>: <a href="mailto:info@mymedical.be">rh@mymedical.be</a>
            </address>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 mb-4 ms-5 me-5 mt-2 {{ .Scratch.Get "neoClass" }}">
            <h5 class="pt-2"><i class="fa-location-arrow fas pe-3"></i><b>{{- T "yAller" -}}</b></h5>
            <address>
                <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/search/?api=1&query=Centre+Medical+La+Sauvagere"><i class="fas fa-map-marked-alt pe-2"></i>Centre Médical La Sauvagère</a><br>
                95 Rue de Verrewinkel<br>
                1180 Uccle<br>
                Belgique
            </address>
            
            
        </div>
    </div>
</section>