<header class="site-nav-header">
    <!-- top nav bar
    * ? use for template
    * ? use for partial
    -->
    <div class="container">
    <nav class="site-nav navbar navbar-dark navbar-expand-lg fixed-top text-uppercase {{ .Scratch.Get "navClass" }}">
        <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
            <img src="{{ site.Params.logo | relURL }}" alt="{{ site.Title }}" width="{{ site.Params.logo_width }}" class="img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler8" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler8">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {{ $currentPage := . }}
                {{ range site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="dropdown">
                    <a class="nav-link {{if ne .URL "/" }}{{ if in $.RelPermalink .URL }}active{{ else }} not-active {{ end }}{{ end }}" href="{{ .URL | relLangURL }}  " class="dropdown-toggle" id=" {{ .Name }}Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu {{if ne .URL "/" }}{{ if in $.RelPermalink .URL }}active{{ else }} not-active {{ end }}{{ end }}" aria-labelledby="{{ .Name }}Id">
                            {{ range .Children }}
                            <a class="dropdown-item {{if ne .URL "/" }}{{ if in $.RelPermalink .URL }}active{{ else }} not-active {{ end }}{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}{{ if ne .URL "/" }}{{ if in $.RelPermalink .URL }}<span class="sr-only">(current)</span>{{ end }}{{ end }}</a>
                            {{ end }}
                        </div>
                    </li>
                {{ else }}
                    <li class="nav-item {{if ne .URL "/" }}{{ if in $.RelPermalink .URL }}active{{ else }} not-active {{ end }}{{ end }}">
                        <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}{{ if ne .URL "/" }}{{ if in $.RelPermalink .URL }}<span class="sr-only">(current)</span>{{ end }}{{ end }}</a>
                    </li>
                {{ end }}
                {{ end }}
                {{ if ne .Site.Params.mono "yes" }}
                <li class="nav-item dropdown pl-4">
                    <a class="nav-link dropdown-toggle border rounded" href="{{ site.BaseURL | relLangURL }}" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>{{ $.Site.Language.Lang }}</strong></a>
                    {{ $otherLang2 := slice }} {{ $otherLang3 := slice }}
                    {{ if eq $.Site.Language.Lang "en"}}
                        {{ $otherLang2 = slice "nl" "nl" }} {{ $otherLang3 = slice "" "fr" }}
                    {{ else }}
                        {{ if eq $.Site.Language.Lang "nl" }}
                            {{ $otherLang2 = slice "en" "en" }} {{ $otherLang3 = slice "" "fr" }}
                        {{ else }}
                            {{ $otherLang2 = slice "en" "en" }} {{ $otherLang3 = slice "nl" "nl" }}
                        {{ end }}
                    {{ end }}
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        {{ if (eq (index $otherLang3 0) "") }}
                            <a class="dropdown-item" href="{{- strings.TrimPrefix "/" $.RelPermalink | strings.TrimPrefix $.Site.Language.Lang -}}"><strong>{{- index $otherLang3 1 -}}</strong></a>
                        {{ else }}
                            <a class="dropdown-item" href="/{{- index $otherLang3 0 -}}/{{- strings.TrimPrefix "/" $.RelPermalink | strings.TrimPrefix $.Site.Language.Lang -}}"><strong>{{- index $otherLang3 1 -}}</strong></a>
                        {{ end }}
                        <a class="dropdown-item" href="/{{- index $otherLang2 0 -}}/{{- strings.TrimPrefix "/" $.RelPermalink | strings.TrimPrefix $.Site.Language.Lang -}}"><strong>{{- index $otherLang2 1 -}}</strong></a>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav> <!-- end top nav bar -->
    </div>
    {{ if or ($.Params.featured_image) (in $.RelPermalink "404") }}
    <div id="invisible" class="word-rotate" style="display: none;"></div>
    <div class="container-fluid featured-image" >
        <div class="row">
            <picture class="img-fluid w-100">
                {{ if in $.RelPermalink "404"}}
                <source srcset="{{ "/images/cover/404_cover_1500x509.jpg" | replaceRE "(.*)\\.[^.]+$" "$1.webp" | relURL }}" type="image/webp" alt="Featured image webp of {{ $.Params.title }}" />
                <source srcset="{{ "/images/cover/404_cover_1500x509.jpg" | relURL }}" alt="Featured original image of {{ $.Params.title }}" />
                <img src="{{ "/images/cover/404_cover_1500x509.jpg" | relURL }}" class="img-fluid w-100" alt="Featured image of {{ $.Params.title }}" />
                {{ else }}
                <source srcset="{{ $.Params.featured_image | replaceRE "(.*)\\.[^.]+$" "$1.webp" | relURL }}" type="image/webp" alt="Featured image webp of {{ $.Params.title }}" />
                <source srcset="{{ $.Params.featured_image | relURL }}" alt="Featured original image of {{ $.Params.title }}" />
                <img src="{{ $.Params.featured_image | relURL }}" class="img-fluid w-100" alt="Featured image of {{ $.Params.title }}" />
                {{ end }}
            </picture>
        </div>
    </div>
    {{ else }}
    <div class="container-fluid no-featured-image">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12 col-sm-11 no-image-text py-3">
                <div class="text-center pl-4 pr-4 py-1">
                    <h1>
                        {{ if in $.RelPermalink "tags" }}{{- T "tag" -}}: {{ end }}
                        {{- .Title -}}
                    </h1>
                </div>
                <div class="py-3">
                    <ul class="word-rotate">   
                        {{ with .Params.Tags }}                 
                            {{ range first 5 . }}
                            <li>{{- . -}}</li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</header>