<header class="site-header container-fluid">
    <!-- top nav bar
    * ? use for template
    * ? use for partial
    * home menu
    -->
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top text-uppercase  {{ .Scratch.Get "navClass" }}">
        <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
            <img src="{{ site.Params.logo | relURL }}" alt="{{ site.Title }}" width="{{ site.Params.logo_width }}" class="img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler8" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler8">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {{ $currentPage := . }}
                {{ $testHome :=  "/" | relLangURL  }}
                {{ range site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="dropdown">
                    <a class="nav-link {{ if ne .RelPermalink $testHome }}{{ if in $.RelPermalink .URL }}active{{ end }}{{ else }}active{{ end }}" href="{{ .Name | relLangURL }}  " class="dropdown-toggle" id=" {{ .Name }}Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu {{ if ne .URL $testHome }}{{ if in $.RelPermalink .URL }}active{{ end }}{{ else }} not-active {{ end }}" aria-labelledby="{{ .Name }}Id">
                            {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}{{ if ne .URL $testHome }}{{ if in $.RelPermalink .URL }}<span class="sr-only">(current)</span>{{ end }}{{ end }}</a>
                            {{ end }}
                        </div>
                    </li>
                {{ else }}
                    <li class="nav-item {{ if ne .URL $testHome }}{{ if in $.RelPermalink .URL }}active{{ end }}{{ else }}active{{ end }}">
                        <a class="nav-link" href="{{ .URL | relLangURL }}"><span {{ if eq .Identifier "rdv" }}class="blog-menu"{{ end }}{{ if eq .Name "#blog" }}class="blog-menu"{{ end }}>{{ .Name }}{{ if ne .URL $testHome }}{{ if in $.RelPermalink .URL }}</span><span class="sr-only">(current)</span>{{ end }}{{ end }}</a>
                    </li>
                {{ end }}
                {{ end }}
                {{ if ne .Site.Params.mono "yes" }}
                <li class="nav-item dropdown pl-4">
                    <a class="nav-link dropdown-toggle" href="{{ site.BaseURL | relLangURL }}" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="border rounded p-2">{{ $.Site.Language.Lang }}</span></a>
                    {{ $otherLang2 := "en"}} {{ $otherLang3 := "nl"}}
                    {{ if eq $.Site.Language.Lang "fr"}}
                        {{ $otherLang2 = "en"}} {{ $otherLang3 = "nl"}}
                    {{ else }}
                        {{ if eq $.Site.Language.Lang "en" }}
                            {{ $otherLang2 = "fr"}} {{ $otherLang3 = "nl"}}
                        {{ else }}
                            {{ $otherLang2 = "fr"}} {{ $otherLang3 = "en"}}
                        {{ end }}
                    {{ end }}
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="{{- strings.TrimPrefix "/" site.BaseURL | strings.TrimPrefix $.Site.Language.Lang -}}/{{- $otherLang2 -}}"><strong >{{- $otherLang2 -}}</strong></a>
                        <a class="dropdown-item" href="{{- strings.TrimPrefix "/" site.BaseURL | strings.TrimPrefix $.Site.Language.Lang -}}/{{- $otherLang3 -}}"><strong >{{- $otherLang3 -}}</strong></a>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav> <!-- end top nav bar -->
    <!-- overlay div opacity filter
        * position absolute top left w100% h100% of header z-index 0
        * set opacity and color in class
    -->
    <div class="overlay"></div>
    <!-- video background
        * position absolute z-index 1
    -->
    <video playsinline="playsinline" autoplay loop muted>
        {{ if .Site.Params.bgVideo }}
        <source src="{{ relURL ($.Site.Params.bgVideo) }}.webm" type="video/webm" poster="{{ relURL ($.Site.Params.bgVideo) }}.jpg">
        <source src="{{ relURL ($.Site.Params.bgVideo) }}.mp4" type="video/mp4" poster="{{ relURL ($.Site.Params.bgVideo) }}.jpg">
        <picture>
            <source srcset="{{ relURL ($.Site.Params.bgVideo) }}.webp" type="image/webp" alt="Your browser does not support video">
            <img src="{{ relURL ($.Site.Params.bgVideo) }}.jpg" title="Your browser does not support video">    
        </picture>
        {{ end }}
    </video>
    <!-- container title over video
        * position absolute z-index 2
    -->
    <div class="container h-100">
        <section class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 style="font-family: 'Maven Pro', sans-serif;" class="display-4">{{ .Site.Title }}</h1>
                <blockquote class="blockquote">
                    <p class="display-4 font-italic mb-0" style="font-family: 'Pinyon Script', cursive;">{{ T "subTitle" }}</p>
                    <p class="blockquote-footer">Da Vinci</p>
                    <!-- <p class="blockquote-footer">{{ $currentPage }}</p> -->
                </blockquote>
            </div>
        </section>
    </div>
</header>
