<header class="site-nav-header">
    <!-- top nav bar
    * ? use for template
    * ? use for partial
    -->
    <nav class="site-nav navbar navbar-dark navbar-expand-lg fixed-top text-uppercase {{ .Scratch.Get "navClass" }}">
        <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
            <img src="{{ site.Params.logo | relURL }}" alt="{{ site.Title }}" width="{{ site.Params.logo_width }}" class="img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler8" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler8">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {{ $currentPage := . }}                
                {{ range site.Menus.main }}
                {{ if .HasChildren }}
                    <li class="dropdown">
                    <a class="nav-link {{ if ne .URL "/" }}{{ if in $.RelPermalink .URL }}active{{ end }}{{ else }} not-active {{ end }}" href="{{ .URL | relLangURL }}  " class="dropdown-toggle" id=" {{ .Name }}Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" aria-labelledby="{{ .Name }}Id">
                            {{ range .Children }}
                            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}{{ if $currentPage.IsMenuCurrent "main" . }}<span class="sr-only">(current)</span>{{ end }}</a>
                            {{ end }}
                        </div>
                    </li>
              {{ else }}
                <li class="nav-item {{ if ne .URL "/" }}{{ if in $.RelPermalink .URL }}active{{ end }}{{ else }} not-active {{ end }}">
                    <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}<span class="sr-only">(current)</span>{{ end }}</a>
                </li>
              {{ end }}
              {{ end }}
            </ul>
        </div>
    </nav> <!-- end top nav bar -->
    {{ if $.Params.featured_image }}
    <div class="container-fluid featured-image" >
        <div class="row">
            <picture class="img-fluid w-100">
                <source srcset="{{ $.Params.featured_image | replaceRE "(.*)\\.[^.]+$" "$1.webp" | relURL }}" type="image/webp" alt="Featured image webp of {{ $.Params.title }}" />
                <source srcset="{{ $.Params.featured_image | relURL }}" alt="Featured original image of {{ $.Params.title }}" />
                <img src="{{ $.Params.featured_image | relURL }}" class="img-fluid w-100" alt="Featured image of {{ $.Params.title }}" />
            </picture>
        </div>
    </div>
    {{ else }}
    <div class="container-fluid no-featured-image">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-md-12 col-lg-8 col-sm-12 no-image-text">
                <div class="text-center">
                    <h1>
                        {{ if in $.RelPermalink "tags" }}Tag: {{ end}} {{- .Title -}}
                    </h1>
                </div>
                <div class="pl-4">
                    <ul class="word-rotate">
                        {{ range .Params.Tags }}
                        <li>{{- . -}}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</header>