  <!-- <h3>{{ humanize .Section }}</h3> -->
  <div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#collapse{{ .Scratch.Get "itemAccordion"}}" id="heading{{ .Scratch.Get "itemAccordion"}}">
      <div class="d-flex justify-content-start">
        <div><h5 class="mb-2">{{ .Title }}</h5></div>
        <div class="ml-2"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></div>
      </div>
      
    <div id="collapse{{ .Scratch.Get "itemAccordion"}}" class="collapse pt-2" aria-labelledby="heading{{ .Scratch.Get "itemAccordion"}}" data-parent="#accordionSection">
      <div class="card-body pb-2">
        <p>{{ markdownify .Summary  }}</p>
        <a href="{{ .Permalink }}" class="btn btn-sm" role="button" aria-pressed="true">{{- T "readMore" -}}</a>
      </div>
    </div>
  </div>
