  <!-- <h3>{{ humanize .Section }}</h3> -->
  <div class="card text-dark">
    <div class="card-header" id="heading{{ .Scratch.Get "itemAccordion"}}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ .Scratch.Get "itemAccordion"}}" aria-expanded="true" aria-controls="collapseOne">
          {{ .Title }}
        </button>
      </h2>
    </div>

    <div id="collapse{{ .Scratch.Get "itemAccordion"}}" class="collapse" aria-labelledby="heading{{ .Scratch.Get "itemAccordion"}}" data-parent="#accordionSection">
      <div class="card-body">
        <p>{{ markdownify .Summary  }}</p>
        <a href="{{ .Permalink }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Read more...</a>
      </div>
    </div>
  </div>

