{{ define "main" }}
<section class="container-fluid site-special pt-3" style="font-family: 'Maven Pro', sans-serif;">
    <div class="justify-content-center ml-4 mr-4 row" >
        <div class="col-md-12 text-center text-light">
            <h1 style>Un centre spécialisé en ophtalmologie</h1>
            <p>Votre vision sans compromis</p>
        </div>
    </div>
    <div class="justify-content-around mt-4  pb-4 row text-center">
        {{ $offset := 100 }}
        {{ range site.Params.services }}
        <div class="col-7 col-lg-3 col-md-3 col-sm-7 col-xl-2 mb-5 ml-4 mr-4 mt-4 neo-offer-green pb-2 pt-2" data-aos="fade-up" data-aos-offset="{{ print $offset }}">
            <img class="d-block img-fluid img-offer layout-image mb-3 mt-2 one" src="{{ .serviceImg | relURL }}" alt="{{ .serviceImgDesc }}">
            <h4 class="h4-offer-green mb-2 mt-2  pb-2 pt-2 rounded text-white">{{ .serviceName }}</h4>
        </div>
        {{ $offset = (add $offset 25) }}
        {{ end }}
    </div>
</section><!-- section end of site-special-->
<div class="svg-section-home-1">
    <svg width="100%" height="100" viewBox="0 0 100 99" preserveAspectRatio="none">
        <path d="M0 0 L50 90 L100 0 V100 H0" fill="#4DB6AC" />
    </svg>
</div>
<section class="container-fluid site-highlights py-5" style="font-family: 'Maven Pro', sans-serif;">
    <div class="justify-content-center row" data-aos="fade-up">
        <div class="col-md-12 text-center text-light">
            <h1 style>Des installations à la pointe</h1>
            <p>Chirurgies, consultations générale et spécialisée</p>
        </div>
    </div>
    <div class="row justify-content-center mt-3" data-aos="fade-up">
        <div class="col-xs-8 col-sm-8 col-md-6 col-xl-6">
            <div id="highlightsCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {{ range first 1 site.Params.highlightsCarousel }}
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    {{ end }}
                    {{ $imgNum := 1 }}
                    {{ range after 1 site.Params.highlightsCarousel }}
                        <li data-target="#highlightsCarousel" data-slide-to="{{ print $imgNum }}"></li>
                        {{ $imgNum = ( add $imgNum 1 ) }}
                    {{ end }}
                </ol>
                <div class="carousel-inner">
                    {{ range first 1 site.Params.highlightsCarousel }}
                        <div class="carousel-item active">
                            <picture class="d-block w-100">
                                <source srcset="{{ .highlightImg | replaceRE "(.*)\\.[^.]+$" "$1.webp" | relURL }}" type="image/webp" alt="{{ .highlightDesc }}" />
                                <source srcset="{{ .highlightImg | relURL }}" alt="{{ .highlightDesc }}" />
                                <img src="{{ .highlightImg | relURL }}" alt="{{ .highlightDesc }}" class="d-block w-100">
                            </picture>
                            <div class="carousel-caption d-none d-md-block text-light">
                                <h5>{{ .highlightName }}</h5>
                                <p>{{ .highlightDesc }}</p>
                            </div>
                        </div>
                    {{ end }}
                    {{ range after 1 site.Params.highlightsCarousel }}
                        <div class="carousel-item">
                            <picture class="d-block w-100">
                                <source srcset="{{ .highlightImg | replaceRE "(.*)\\.[^.]+$" "$1.webp" | relURL }}" type="image/webp" alt="{{ .highlightDesc }}" />
                                <source srcset="{{ .highlightImg | relURL }}" alt="{{ .highlightDesc }}" />
                                <img src="{{ .highlightImg | relURL }}" alt="{{ .highlightDesc }}" class="d-block w-100">
                            </picture>
                            <div class="carousel-caption d-none d-md-block text-light">
                                <h5>{{ .highlightName }}</h5>
                                <p>{{ .highlightDesc }}</p>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <a class="carousel-control-prev" href="#highlightsCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#highlightsCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="svg-section-home-2">
    <svg width="100%" height="100" viewBox="0 0 100 99" preserveAspectRatio="none">
        <path d="M0 0 L50 90 L100 0 V100 H0" fill="#00796B" />
    </svg>
</div>
{{ end }}
