<footer class="d-flex justify-content-center site-footer">
    <section class="layout-social py-5">
        <a class="text-light px-2" href="#"><i class="layout-icon fab fa-facebook"></i></a>
        <a class="text-light px-2" href="#"><i class="layout-icon fab fa-twitter"></i></a>
        <a class="text-light px-2" href="#"><i class="layout-icon fab fa-linkedin"></i></a>
        <a class="text-light px-2" href="#"><i class="layout-icon fab fa-github"></i></a>
    </section> <!-- section end of social -->
</footer>