<section id="contact" class="contact container-fluid pb-3 text-center text-white" style="font-family: 'Maven Pro', sans-serif;">
    <div class="justify-content-center row">
        <div class="col-8 col-md-3 col-sm-6 mr-3 mt-4">
            <h3>Contactez-nous</h3>
        </div>
    </div>
    <div class="justify-content-center mt-3 row">
        <div class="col-8 col-md-3 col-sm-6 mb-4 ml-5 mr-5 mt-2 neo-info">
            <h5 class="mt-4"><i class="fa-phone-square-alt fas pr-3"></i><b>Par téléphone</b></h5>
            <p>Le secrétariat téléphonique est disponible de 9:00 à 17:30.</p>
            <p>+32(0)2/256.90.83<br>+32(0)2/512.34.08</p>
        </div>
        <div class="col-8 col-md-3 col-sm-6 mb-4 ml-5 mr-5 mt-2 neo-info">
            <h5 class="mt-4"><i class="fa-envelope fas pr-3"></i><b>Par email</b></h5>
            <p>info@ophtalmologiste.be</p>
        </div>
        <div class="col-8 col-md-3 col-sm-6 mb-4 ml-5 mr-5 mt-2 neo-info">
            <h5 class="pt-2"><i class="fa-location-arrow fas pr-3"></i><b>Se rendre au Centre Médical</b></h5>
            <p><i>Centre Médical Bruxelles-Schuman</i><br>66 Avenue de Cortenbergh<br>1000 Bruxelles<br>Belgique</p>
        </div>
    </div>
</section>